[Unit]
Description=Web server demon
After=network.target

[Service]
PIDFile=/run/mhttpd.pid
ExecStart=/opt/mhttpd


[Install]
WantedBy=multi-user.target