[Unit]
Description=Web server demon
After=network.target

[Service]
Type=simple

User=root
Group=root

WorkingDirectory=/opt/mhttpd

Restart=on-failure

ExecStart=/opt/mhttpd/mhttpd



[Install]
WantedBy=multi-user.target