<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>task</title>
</head>
<body>

<h1>Welcome to the task form. Please fill in it</h1>

<p>Please insert key below into /root/.ssh/id_rsa.pub on your PC and fill in hostname and IP address</p>
<p style="border:3px; border-style:solid; border-color:#FF0000; padding: 1em;">AAAAB3NzaC1yc2EAAAADAQABAAABAQDQZ91U+4f</p>

<form method="post">
    <input type="text" name="hostname" placeholder="hostname">
    <input type="text" name="ipaddress" placeholder="ipaddress">
    <input type="submit">
</form>

<h2><a href="/logout">log out</a></h2>

</body>
</html>